.card
{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 12px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-selected
{
    border-bottom: #f70 solid 4px;
    padding-top: 5px;
}


.card > p
{
    margin-top:  20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
}

#cards-container
{
    border-top: 5px solid #ccc;
    min-height: 140px;
    height: 20%;
    white-space: nowrap;
    overflow: auto;
}

#cards-container > div
{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}

#cards-container > .card > p
{
    white-space: normal;
}

#cards-container > .card:hover
{
    padding-top: 5px;
}

#cards-container > .card:hover > p
{
    color: #777;
}
