.color-red
{
    background-color: #fcc;
    color: #500;
}

.color-yellow
{
    background-color: #ffb;
    color: #550;
}

.color-blue
{
    background-color: #ccf;
    color: #005;
}

.color-green
{
    background-color: #cfc;
    color: #050;
}

.color-purple
{
    background-color: #fcf;
    color: #055;
}
