#players-container
{
    overflow: auto;
    height: 50%;
}

.player
{
    margin: 10px;
    border-radius: 999px;
    background-color: #fcc;
}

.player-selectable:hover
{
    background-color: #f77;
}

.player-selected
{
    background-color: #f77;
}

.player > span
{
    display: inline-block;
    border-right: 3px solid #fff;
    color: #500;
}

.player > .name
{
    width: 30%;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.player > .score
{
    width: 8%;
    text-align: center;
}

.player > .state
{
    border-right: none;
    padding-left: 10px;
}

.pitch-container
{
    text-align: center;
}

#self-product
{
    background-color: #eee;
    padding: 5px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    color: #f70;
}