
#new-room-ui
{
    background-color: #ccf;
    color: #005;
}

#join-room-ui
{
    background-color: #fcc;
    color: #500;
}

#new-room-ui > p,
#join-room-ui > p
{
    padding: 5px;
    border-top: 3px solid white;
}

#room-ui
{
    text-align: center;
}

#new-room-ui,
#join-room-ui
{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    border-radius: 15px;
}

#messages-container
{
    display: inline-block;
    height: 50%;
    width: 29%;
}
#messages-form input,
#messages-form button
{
    box-sizing: content-box;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    border: none;
    border-top: 1px solid #ccc;
}
#messages-form input
{
    width: calc(100% - 70px);
}
#messages-form button
{
    width: 45px;
}
#messages-list
{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}
#messages-list .message
{
    line-height: 21px;
    font-size: 80%;
}
#messages-list .message .name
{
    border-radius: 5px;
    padding: 0px 3px;
}
#messages-list .message .content
{
    margin-left: 3px;
}
