
#new-room-ui
{
    background-color: #ccf;
    color: #005;
}

#join-room-ui
{
    background-color: #fcc;
    color: #500;
}

#new-room-ui > p,
#join-room-ui > p
{
    padding: 5px;
    border-top: 3px solid white;
}

#room-ui
{
    text-align: center;
}

#new-room-ui,
#join-room-ui
{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    border-radius: 15px;
}

#messages-container
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 60vw;
    max-width: 400px;
}
#messages-form input,
#messages-form button
{
    box-sizing: content-box;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    border: none;
    border-top: 1px solid #ccc;
}
#messages-form input
{
    width: calc(100% - 70px);
}
#messages-form button
{
    width: 45px;
}
#messages-list
{
    transition: height 0.3s;
    height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}
#messages-container.collapsed #messages-list
{
    height: 40px;
}
#messages-list .message .date
{
    margin-right: 10px;
}
#messages-list .message .name
{
    margin-right: 10px;
}
#messages-collapse
{
    position: absolute;
    right: 0px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.9em;
    background: #eee;
    border: none;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0px;
}
#messages-collapse::before
{
    content: "x";
}
#messages-container.collapsed #messages-collapse::before
{
    content: "+";
}
