html, body
{
    height:100%;
    width:100%;
    font-size: 90%;
    font-family:sans-serif;
}

body
{
    margin: 0;
    padding-top:0;
}

#pitch-button,
#reveal-button,
#game-ui
{
    display: none;
}

h1
{
    margin: 0;
    color:  #888;
    border-bottom: 5px solid #ccc;
    margin-bottom: 4px;
    text-align: center;
}
