html, body
{
    height: 100%;
    width: 100%;
    font-family:sans-serif;
}

body
{
    margin: 0;
    padding-top:0;
}

#pitch-end-button,
#pitch-start-button,
#reveal-button,
#pitch-choose-button
{
    float: right;
}

#pitch-end-button,
#pitch-start-button,
#reveal-button,
#pitch-choose-button,
#game-ui
{
    display: none;
}

#game-ui,
#room-ui
{
    margin: 0;
    height: 100%;
}

h1
{
    margin: 0;
    color:  #888;
    border-bottom: 5px solid #ccc;
    margin-bottom: 4px;
    text-align: center;
}

#pitch-container
{
    padding-left: 10px;
    padding-right: 10px;
    color: #777;
}

#pitch-timer
{
    text-align: right;
}

#share-link
{
    display: inline-block;
    color: #888;
    float: right;
    margin-right: 10px;
}

#room-share
{
    color: #888;
    border-top: none;
    border-bottom: 2px solid #ccc;
    border-left: none;
    border-right: none;
}

#room-id
{
    color: #888;
    margin-left: 10px;
    display: inline-block;
    float: left;
    clear: both;
}

#room-leave-button
{
    margin-left: 10px;
}